body{
    margin: 0px;
}
header{
    display: flex;
    top:0;
    width: 100%;
    background-color:rgb(75, 124, 1); 
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    color:rgb(255, 255, 255);
    padding: 10px;
}
nav a {
    padding: 10px 25px; 
    text-decoration: none;
    color: white;
    border-radius: 20px;
}
nav a:hover{
    background-color: rgb(110, 168, 23);
    transition: 0.5s;
}
section.home{
    background-color: darkolivegreen;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    height: 600px;
}
section.about{
    background-color:white;
    height: 600px;
}
section.product{
    background: url("gb2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
}
section.contact{
    background-color: black; 
    height: 600px;
}
section.home{
    height: 600px;
    background:url("kacang\ hijau\ -\ Copy.jpg"); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    font-size: x-large;
}
section.home div{
    text-align: center;
    color: white; 
    width:70%; 
    padding: 20px;
    margin:auto;
}
section.home.welcome{
    font-size: 20px;
} 
section.home a{
    color:white;
    padding:10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}
.home a:hover{
    transition: 0.5s;
    background-color: rgb(97, 156, 9);
}
section.about{
    height: 600px;
    background:url("hijau\ bekgron.jpeg"); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    font-size:x-large
}
section.about div{
    text-align: center;
    color: white; 
    width:70%; 
    padding: 20px;
    margin:auto;
}
section.about.me{
    font-size: 20px;
}
section.about img{
    width: 200px;
}
section.product{
    background-color:darkolivegreen; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; height: 1200px;
}
section.product .container{
justify-content: center;
display: flex;
Flex-wrap: wrap; 
padding-top: 50px;
}
section.product .container .card{
    background-color: rgb(133, 161, 31); 
    text-align: center; 
    padding: 5px;
    width:300px;
    height: 420px; 
    margin: 15px;
    border-radius: 20px;
}
.product .container .card a:hover{
    transition: 0.5s;
    background-color: rgb(98, 131, 42);
}
section.product .container .card img{
    height: 200px;
    width: 230px;
}
section.product .container .card a{
    border-radius: 20px;
    color:black; 
    padding: 5px 20px; 
    text-decoration: none;
    box-shadow: 0px 0px 3px; 
}
section.contact{
    background-color: black; height: 600px;
}
section.contact.card{
    margin: auto;
    color: white;
    text-align: center;
    padding-top: 100px; width:400px; 
}
section.contact .card img{
    width: 200px;
}
footer{
    background-color: rgb(19, 58, 1); height:50px;
}
footer .medsos{
    text-align: center; 
    padding-top: 10px;
}
footer .medsos a{
    color:#ffffff; 
    font-size: 20px; 
    padding: 5px 20px;
    text-decoration: none;
}
section.contact{
    background-color: darkolivegreen; height: 900px;
    font-size: x-large;
    text-align: center;
    color: white;
} 
section.contact .card{
    margin: auto; 
    color: white; 
    text-align: center;
    padding-top: 100px; 
    width: 400px;
}
section.contact .card img{ 
    width: 100px;
}
section.contact .card div{
     color: white;
}
.card:hover{
    box-shadow: 0px 0px 5px; color: white;
    transition: 0.5s;
    animation: shake 0.5s;
}
@keyframes shake{
    0%{
        transform:rotate(0deg);
    }
    25%{
        transform:rotate(3deg);
    }
    50%{
        transform:rotate(-3deg);
    }
    75%{
        transform:rotate(1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}