body{
    margin: 0px;
}
header{
    display: flex;
    top:0;
    width: 100%;
    background-color: rgb(33, 94, 4); 
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    color:white;
    padding: 10px;
}
nav a {
    padding: 10px 25px; 
    text-decoration: none;
    color: white;
    border-radius: 20px;
}
nav a:hover{
    background-color: rgb(75, 124, 1);
    transition: 0.5s;
}
section.home{
    background: url("gb1.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    height: 600px;
}
section.about{
    background-color:white;
    height: 600px;
}
section.product{
    background: url("gb2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
}
section.contact{
    background-color: black; 
    height: 600px;
}
section.product{
    background-color: chartreuse; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; height: 1200px;
}
section.product .container{
justify-content: center;
display: flex;
Flex-wrap: wrap; 
padding-top: 50px;
}
section.product .container.card {
    background-color: white; 
    text-align: center; 
    padding: 5px;
    width:200px;
    height: 400px; 
    margin: 15px;
}
section.product.container.card img{
    width: 100%;
}
section.product.container.card a{
    color:black; 
    padding: 5px 20px; 
    text-decoration: none;
    box-shadow: 0px 0px 3px; 
    border-radius: 20px;
}
footer{
    background-color:rgb(33, 94, 4); 
}
section.home{
    height: 600px;
    background:url("https://rsmmbogor.com/cfind/source/thumb/images/berita/cover_w963_h474_tw5757_th2831_x1-7_y10_raw-green-beans-cup-placed-wooden-floor.jpg"); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
}
section.home div{
    text-align: center;
    color: white; 
    width:70%; 
    padding: 20px;
    margin:auto;
}
section.home.welcome{
    font-size: 20px;
} 
section.home a{
    color:white;
    padding:10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
}
section.about{
    height: 600px;
    background:url("https://rsmmbogor.com/cfind/source/thumb/images/berita/cover_w963_h474_tw5757_th2831_x1-7_y10_raw-green-beans-cup-placed-wooden-floor.jpg"); 
    background-attachment: fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
}
section.about div{
    text-align: center;
    color: white; 
    width:70%; 
    padding: 20px;
    margin:auto;
}
section.about.me{
    font-size: 20px;
}